*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 80px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #161515;
    font-size: 17px;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 100px;
    color: #055e50;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #295F98;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #e43e3e;
    font-size: 24px;
    border: 2px solid #141313;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover; /* Ensures the video covers the entire background */
}
@media(min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

/* Media query for tablets */
@media screen and (max-width: 768px) {
    nav{
        padding: 20px 5%;
    }
    nav ul li{
        margin-left: 20px;
    }
    nav ul li a{
        font-size: 15px;
    }
    .content h1{
        font-size: 70px;
    }
    .content a{
        font-size: 20px;
        padding: 12px 50px;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 480px) {
    nav{
        padding: 20px 5%;
    }
    nav ul{
        display: block;
        text-align: center;
    }
    nav ul li{
        margin-left: 0;
        margin-top: 10px;
    }
    nav ul li a{
        font-size: 14px;
    }
    .content h1{
        font-size: 50px;
    }
    .content a{
        font-size: 18px;
        padding: 10px 40px;
    }
    .back-video {
        width: 100%;  /* Ensure video width takes the full screen */
        height: 100%; /* Ensure video height covers the full viewport */
        left: 50%;    /* Move to the center */
        top: 50%;
        transform: translate(-50%, -50%); /* Center the video */
        object-fit: cover; /* Keep the video proportions and cover */
    }
}

  

    
    
